@import url("https://fonts.googleapis.com/css?family=News+Cycle");
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

header {}



h6 {
    color: darkgray;
    font-family: Comfortaa;
}

h1 {
    color: black;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: black;
    font-family: 'Sacramento', cursive;
}

h3 {
    color: hotpink;
    font-family: 'Poiret One';
    font-weight: 1400;
}
#rightbar {
   color: forestgreen;
    font-family: Comfortaa;
}

body {
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
}
